.carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

body, header {
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

header a {
    display: block;
    text-align: center;
    padding: 15px;
}

header a img {
    height: 70px;
}

.search-box {
    padding: 30px 0;
}

.input-search input {
    padding: 1rem 1rem 1rem 3rem;
}

.input-search .icon-search {
    display: inline-block;
    left: 15px;
    transform: rotateY(180deg);
    top: 15px;
}

.btn-search {
    margin-left: 5px;
    width: 58px;
    font-size: 28px;
}

.heading i {
    color: red;
}

.heading h2 {
    color: #666;
    font-weight: bold;
}

.bestsellers .slick-list {
    margin: 0 -7px;
}

.bestsellers .item-sli > div {
    padding: 15px 7px;
}

.categories .slick-list {
    margin: 0 -6px;
}

.categories .item-sli > div {
    padding: 10px 6px;
}


.product_box .card, .categories .card {
    border-radius: 8px;
    overflow: hidden;
    border: 0;
    box-shadow: 2px 1px 7px 0px rgba(135, 131, 131, 0.75);
    -webkit-box-shadow: 2px 1px 7px 0px rgba(135, 131, 131, 0.75);
    -moz-box-shadow: 2px 1px 7px 0px rgba(135, 131, 131, 0.75);
}

.title-box {
    padding: 15px 0;
}

.title-box a h3 {
    margin-bottom: 0;
    font-size: 16px;
}

.title-box a {
    font-size: 12px;
    display: inline-block;
    color: #0d0a0a;
    font-weight: bold;
}

.title-box a:hover {
    color: red;
}

.divider-line {
    border-bottom: 5px solid red;
    width: 50%;
    display: inline-block;
}

.cate_group_2 a.cat-title {
    font-size: 11px;
    text-align: center;
    display: block;
    margin: auto;
    color: #000;
    font-weight: bold;
    padding: 4px 2px 2px;
}

.products .product_box {
    margin-bottom: 10px;
}

.mbox {
    margin-left: 5px;
    margin-right: 5px;
}

.pbox {
    padding-left: 5px;
    padding-right: 5px;
}

hr {
    margin: 1.5rem 0;
}

.image-box {
    background-color: #ccc;
}

.product_box:hover .title-box a h3 {
    color: red;
    font-size: 18px;
}

.cate_group_2 h3 {
    height: 30px;
}

.cate_group_2 a.cat-title {
    font-size: 14px;
    line-height: 1.3;
}

@media (max-width: 700px) {
    .cate_group_2 a.cat-title {
        font-size: 11px;
    }
}

